body{background: #FCFFFF;}
h1,h2,h3,h4,h5,h6{font-family: 'Taviraj', serif;}
.navbar{background-color:#49C2C7;border:0;color:#ffffff; }
.navbar a{color:white;}
h1{font-size:1.8em; color:#FF4D6D;
text-transform: uppercase;}
h2{font-size:1.8em; color:#F66D73;}
h3{font-size:1.5em; color:#F66D73;}
h4{font-size:1.2em; color:#69C1FF;}
h5,h6{font-size:1em; color:#A0AAA5;}

.link{color:#FF4D6D;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand:hover {
    color: #FA5C8C;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FA5C8C;
}
.carousel-caption h2{color:#ffffff;}
.img-responsive {
  margin-top: 1.5em;
}

section h1{
  margin-left: 1.6em;
}
